PORT=4173
HR_AUTO_DATA_DIR=./data
HR_AUTO_TIMEZONE=Asia/Bangkok
HR_AUTO_LOCALE=th-TH
HR_AUTO_FACEBOOK_LOAD_TIMEOUT_MS=45000
HR_AUTO_MAX_HYBRID_TABS_LIMIT=250
HR_AUTO_AUTO_CONFIRM_DELAY_MIN_MS=8000
HR_AUTO_AUTO_CONFIRM_DELAY_MAX_MS=150000
HR_AUTO_PENDING_SCAN_DELAY_MS=1500
HR_AUTO_PENDING_DELETE_DELAY_MS=2500
